/*### Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  font-size: 14px;
  color: #757575;
  font-family: 'Source Sans Pro', sans-serif;
}

#headernav li a,
.socialmedia .icon,
#headernav li.night,
#subheader .subscribe,
#subheader .emailinput,
#content .readmore,
#content .metadata a,
#content .post h3 a,
#pagination .next,
#pagination .prev,
#pagination .pages a,
.widget a,
.widget li:before,
.widget,
footer .fmenu li a,
footer .fmenu li:before,
#headernav li.day,
#headernav li.morning,
.subheader a{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
  width: 1060px;
  margin: 0px auto;
  padding: 0 40px;
  overflow: auto;
}

#logo {
  width: 255px;
  height: 60px;
  float: left;
  margin-top: 31px;
}

#logo img {
  max-width: 100%;
}

#headernav {
  width: 532px;
  height: 119px;
  float: right;
}

#headernav li {
  float: left;
  height: 119px;
}


#headernav li a {
  height: 119px;
  line-height: 119px;
  font-size: 18px;
  color: #fff;
  display: block;
  font-weight: 300;
  padding: 0 25px;
}

#headernav li a:hover {
  color: #ccc;
  line-height: 110px;
}

/* new */

#intro {
  width: 100%;
  height: 800px;
  background: url(../images/gift/bg.png);
}

#intro header {
  border-bottom: 1px solid #6aabd4;
}

.subheader {
  width: 100%;
  margin-top: 40px;
  padding-top: 80px;
  position: relative;
}

.subheader em {
  width: 745px;
  height: 40px;
  line-height: 40px;
  margin: 0px auto;
  display: block;
  text-align: center;
  font-family: 'Georgia', sans-serif;
  font-style: italic;
  font-size: 24px;
  color: #fff;
}

.subheader h2 {
  width: 790px;
  height: 80px;
  line-height: 80px;
  margin: 0px auto;
  display: block;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.subheader h3 {
  width: 750px;
  height: auto;
  background: url("../images/gift/title-border.png") repeat-x center;
  margin: 0px auto;
}

.subheader h3 p {
  width: 600px;
  line-height: 30px;
  background: #4596c9;
  margin: 0px auto;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.subheader h4 {
  width: 750px;
  margin: 12px auto;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.subheader a {
  width: 223px;
  height: 80px;
  line-height: 80px;
  background: url("../images/gift/start-read-button.png") no-repeat;
  margin: 60px auto;
  display: block;
  border: 2px solid #fff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.subheader a:hover {
    background: #fff;
    color: #4596C9;
}

.subheader .wordpress-logo-one {
  width: 135px;
  height: 135px;
  background: url("../images/gift/wordpress-logo-one.png") no-repeat;
  top: 0;
  left: 0;
  position: absolute;
}

.subheader .wordpress-logo-two {
  width: 136px;
  height: 134px;
  background: url("../images/gift/wordpress-logo-two.png") no-repeat;
  right: 0;
  bottom: -30px;
  position: absolute;
}

#stripe {
  width: 100%;
  background: #fff;
  padding: 120px 0 80px 0;
}

#stripe h1,
#stripe h1 a{
  width: 100%;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #4596c9;
  text-transform: uppercase;
}

#stripe h1 a:hover {
    color: #32ccfe;
}

#stripe p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 24px;
  color: #3e4244;
}

#stripe strong {
    font-weight: 700;
}

#stripe b {
  font-weight: 700;
  font-size: 24px;
  color: #3e4244;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}


#stripe img {
  border: 1px solid #bfd4e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-right: 40px;
  max-width: 100%;
}

.size-full {
    height: auto;
}
footer {
	width: 100%;
	min-height: 280px;
	overflow: hidden;
	height: auto;
	background: #32383e;
	border-top: 5px solid #464c51;
}

footer .aboutus {
	width: 354px;
	height: 280px;
	float: left;
}

footer .aboutus .logo {
	width: 197px;
	margin-top: 24px;
}

footer .aboutus .logo img {
	max-width: 100%;
}

footer .aboutus .contact {
	height: 50px;
	width: 100%;
	padding: 27px 0;
	border-top: 1px solid #474c52;
	border-bottom: 1px solid #474c52;
	font-size: 18px;
	margin: 17px 0;
	color: #747f87;
}

footer .aboutus .contact span {
	color: #fff;
	margin-top: 5px;
	display: block;
}

footer .aboutus .contact .phone {
	width: 40%;
	float: left;
}

footer .aboutus .contact .email {
	width: 53%;
	float: right;
}

footer .fmenu {
	width: 290px;
	float: right;
	margin: 32px 0 40px 56px;
}

footer .fmenu .title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: 0.4px;
	color: #fff;
	height: 27px;
}

footer .fmenu .title a {
    font-weight: 700;
	font-size: 17px;
	letter-spacing: 0.4px;
	color: #fff;
	height: 27px;
}

footer .fmenu ul,
footer .fmenu li {
	width: 100%;
}

footer .fmenu li {
	border-bottom: 1px solid #474c52;
	position: relative;
}

footer .fmenu li a {
	padding: 20px 0;
	color: #5f6b79;
	display: block;
}


footer .fmenu li a:hover {
	color: #ec4646;
}

footer .fmenu li:before {
	content: "";
	height: 1px;
	width: 0;
	position: absolute;
	background: #00aeff;
	bottom: -1px;
	box-shadow: 0 0 4px 0 #00aeff;
}

footer .fmenu li:hover:before {
	width: 100%;
	box-shadow: 0 0 0 0 #ec4646;
	background: #ec4646;
}

footer .fmenu input[type=text],
footer .fmenu input[type=email]{
    width: 60%;
	height: 40px;
	line-height: 40px;
	padding: 0 5%;
	color: #aab8ca;
	font-size: 14px;
	font-weight: 300;
	float: left;
	display: block;
	border: none;
}

footer .fmenu input[type=submit] {
    background: #ec6551;
	color: #fff;
	float: left;
	width: 30%;
	display: block;
	border: none;
	height: 40px;
	font-size: 14px;
}

footer .fmenu input[type=submit]:hover {
    background: #f0452c;
    cursor: pointer;
}
