/* 481px > 767px */
#socialmedia img {margin: 12% 8% 0 0;float: left;max-width: 25%;}
.searchbutton {font-size: 90%;}
#search .search {width: 78.5%;}
.footer_contact .call {width: 100%;}.footer_contact .email {width: 100%;margin: 4% 0 0 0;}
#logo {
	width: 20%;
	height: 60px;
	margin-top: 20px;
	float: left;
}
header { height: 193px !important; }
#socialmedia { display: none;}
#respon_socialmedia { 
	display: block; 
	float: right;
	width: 51%;
	margin-top: 40px;
}

#respon_socialmedia img { float: right; margin-left: 10px; }

#search {
	width: 100%;
	margin: 25px auto;
}

#topnav nav a { font-size: 110%; }

.post .readmore {font-size: 70%;}
.post .author {width: 40%;}
.post .date{width:60%}

#content {
	width: 100%;
	height: auto;
	display: block;
	padding: 0px;
	border: none;
}

.post {width: 100%; }

.pagination {
	width: 45%;
	margin: 0px auto;
	padding: 0px;
}

.pagination a {
	margin-right: 1.5%;
}

#sidebar {
	width: 100%;
	height: auto;
	margin-top: 35px;
}

.widget {
	width: 30%;
	height: auto;
	overflow: hidden;
	float: left;
	margin-right: 3%;
	margin-bottom: 20px;
}

.widget:last-of-type {margin-right: 0px;}

.widget li:hover {
	padding: 15px 0 15px 0px;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
}
























